/* #animation { */
/* height: 100px;
    width: 100px;
    background-color: rgb(244, 14, 14);
    color: rgb(10, 254, 63);
    border: 3px solid saddlebrown;
    position: absolute;
    top: 50px;
    left: 50px;
    align-items: center;
    display: flex;
    text-align: center;
    animation-name: Animation;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-fill-mode: both; */

/* ANIMATION SHORTHAND */
/* animation: Animation 5s ease 1s infinite alternate fill-mode; */
/* } */

/* ANIMATION KEYFRAME */
/* @keyframes Animation {
    from {
        background-color: antiquewhite;
        font-weight: 300;
        color: rgb(230, 76, 76);
        left: 200px;
      transform: rotate(0deg);
    }

    to {
        background-color: rgba(215, 122, 0, 0.744);
        font-weight: 300;
        color: black;
        left: 500px;
      transform: rotate(360deg);

    }
} */

@keyframes Animation {
    0% {
        background-color: rgb(255, 0, 0);
        font-weight: 100;
        color: rgb(255, 255, 255);
        left: 200px;
        transform: rotate(0deg);
    }

    50% {
        background-color: rgba(215, 122, 0, 0.744);
        font-weight: 200;
        color: black;
        /* left: 500px; */
        transform: rotate(-180deg);


    }

    100% {
        background-color: rgba(31, 216, 240, 0.274);
        font-weight: 300;
        color: rgb(135, 12, 229);
        left: 500px;
        transform: rotate(0deg);

    }
}

#loader {
    width: 100px;
    height: 100px;
    background-color: bisque;
    color: rgb(0, 0, 0);
    border: 2px solid #F7B2BD;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}